/* Add CSS Styling */

.odd-number {
    background-color: rgb(247, 131, 131);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#number-two {
    color: rgb(11, 32, 173);
    font-size: 36px;
}

.cooler-odd-number, #number-four {
    font-size: 24px;
}

#number-four {
    background-color: rgb(11, 173, 33);
    font-weight: 700;
}